@import "tailwindcss";

@font-face {
  font-family: "Spoof";
  src: url("/Fonts/Spoof/SpoofTrial-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spoof";
  src: url("/Fonts/Spoof/SpoofTrial-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spoof";
  src: url("/Fonts/Spoof/SpoofTrial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spoof";
  src: url("/Fonts/Spoof/SpoofTrial-Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/Fonts/Montserrat/Montserrat-Medium.ttf") format("opentype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Monsterrat";
  src: url("/Fonts/Montserrat/Monsterrat-Regular.ttf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@theme {
  --font-display: "Spoof", "display";
  --font-sans: "Montserrat", "sans-serif";
  --color-brand: #4a6b5c;
  --color-secondary: #8b4b4b;
  --color-accent: #c8e6c9;
  --color-neutral-light: #f6f2f1;
  --color-neutral-dark: #2c2c2c;
}
/*#fbfbfd*/

body {
  font-family: "Montserrat";
  background-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
}
